@charset "UTF-8";

/*Body */
/* body {
    background: #0e1013; 
} */

 h1 {
    max-width: 480px;
    text-align: center;
    margin: 60px auto;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

h1::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
}


header{
    background: url(../IMG/background/background.jpg);
}

div {
    display: block;
}

p {
    color: #ffffff;
    display: block;
    margin-top: 0;
    margin-top: 10%;
    margin-block-start: 10%;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}